body {
    display: block;
    font-family: "Courier New", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-align: left;
}

.page-body-wrapper {
    color: rgb(33, 37, 41);
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.sidebar {
    background: #ffffff none scroll;
    color: rgb(33, 37, 41);
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    min-height: 128px;
    text-align: left;
    text-shadow: none;
    transition-delay: 0s, 0s;
    transition-duration: 0.25s, 0.25s;
    transition-property: width, background;
    transition-timing-function: ease, ease;
    width: 255px;
    z-index: 11;
}

.main-panel {
    width: calc(100% - 255px);
}

.nav {
    color: rgb(33, 37, 41);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    list-style: none outside none;
    overflow: hidden;
    text-align: left;
    text-shadow: none;
    width: 255px;
}

.nav-item {
    color: rgb(33, 37, 41);
    display: list-item;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    text-shadow: none;
    width: 255px;
}

.nav-link {
    align-items: center;
    color: rgb(74, 74, 74);
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    padding: 16px 35px;
    text-align: left;
    text-shadow: none;
    white-space: nowrap;
    width: 255px;
}

.user-wrapper {
    color: rgb(74, 74, 74);
    display: flex;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 13px;
    margin-bottom: 30px;
    text-align: left;
    text-shadow: none;
    white-space: nowrap;
    width: 135.016px;
}

.user-wrapper .profile-name {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
}

.user-wrapper .text-muted {
    color: #c2c2c2 !important;
    font-weight: 700;
    font-size: 13px;
}

.profile-image {
    display: block;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 13px;
    text-align: left;
    text-shadow: none;
    white-space: nowrap;
    width: 40px;
}

.profile-image img {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 100%;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    text-shadow: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 40px;
}

.status-indicator.online {
    border-color: #00ce68;
}

.status-indicator {
    border: 2px solid #ffaf00;
    border-radius: 100%;
    display: inline-block;
    height: 8px;
    width: 8px;
}

.text-wrapper {
    display: block;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 13px;
    margin-left: 15px;
    text-align: left;
    text-shadow: none;
    white-space: nowrap;
    width: 80px;
}

.content-wrapper {
    background: #ddffdd;
    padding: 1.5rem 1.7rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.btn-success {
    color: #fff;
    background-color: #00ce68;
    border-color: #00ce68;
}

.font-bold {
    font-weight: 700;
}

.table thead th {
    text-align: center;
    border: none;
}
