{{define "title"}}Agent Smith Panel{{end}}
{{define "content"}}
<div class="content-wrapper">
    <div class="col-md-12 grid-margin">
        <div class="row flex-grow">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Container edition</h4>
                        <p class="card-description">
                            Create or edit your containers with mandatory data to create a deployment.
                        </p>
                        <form class="forms-sample" method="post" action="">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Container name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ip</label>
                                <input type="text" class="form-control" name="ip" placeholder="127.0.0.0">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ports</label>
                                <input type="text" class="form-control" name="ports" placeholder="8080:8080">
                            </div>
                            <button type="submit" class="btn btn-success mr-2">Submit</button>
                            <a class="btn btn-light" href="/">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
