{{define "title"}}Agent Smith Panel{{end}}
{{define "content"}}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Containers</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>CONTAINER</th>
                                <th>COUNT</th>
                                <th>IMAGE CREATED</th>
                                <th>PORTS</th>
                                <th>STATUS</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range .}}
                            <tr>
                                <td class="font-bold">{{.ContainerImage}}</td>
                                <td>{{.ContainerCount}}</td>
                                <td>{{.ContainerCreatedAt}}</td>
                                <td>{{.ContainerPorts}}</td>
                                <td class="text-success font-bold">Running</td>
                                <td>
                                    <button class="btn btn-success btn-block">Actions</button>
                                </td>
                            </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
