{{define "title"}}Agent Smith Panel{{end}}
{{define "content"}}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Containers</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>ContainerID</th>
                                <th>Image</th>
                                <th>Progress</th>
                                <th>Ports</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="font-weight-medium">00be2f65bd26</td>
                                <td>api-catalog</td>
                                <td>
                                    <div class="progress">
                                        <div style="width: 25%" class="progress-bar bg-success progress-bar-striped progress-bar-animated"></div>
                                    </div>
                                </td>
                                <td>
                                    8080:8080
                                </td>
                                <td class="text-danger">Running</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}


{{/*progress-bar bg-success progress-bar-striped progress-bar-animated*/}}