{{define "sidebar"}}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="static/img/smith-logo.jpg" alt="profile image">
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name">Agent Smith</p>
                        <div>
                            <small class="designation text-muted">Master</small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
                <a class="btn btn-success btn-block" href="/container">New Container<i class="mdi mdi-plus"></i>
                </a>
            </div>
        </li>
    </ul>
</nav>
{{end}}
